<%- include('partials/header.ejs') %>
<h1 class="mx-auto mt-2 mb-5 text-center">Blog Posts</h1>

<!-- Flex -->
<% if (locals.posts.length > 0) { %>
  <div class="container d-flex justify-content-center flex-wrap mx-auto text-start">
    <% locals.posts.forEach(post => { %>
    <% let index = locals.posts.indexOf(post) %>
    <div class="card m-2" style="min-width: 30%;">
      <div class="card-body">
        <h5 class="card-title"><%= post.blogTitle %></h5>
        <p class="card-text"><%= post.blogContent.slice(0, 50) %></p>
        <div class="d-flex flex-row justify-content-around">
          <form action="/edit-post/<%= post.postNum %>" method="get" class="m-2">
            <button type="submit" class="btn btn-dark">Edit Post</button>
          </form>
          <form action="/remove-post/<%= index %>" method="get" class="m-2">
            <button type="submit" class="btn btn-dark">Delete Post</button>
          </form>
        </div>
      </div>
    </div>
  <% }) %>
<% } else { %>
  <h2 class="text-center my-5">No posts</h2>
<% } %>
</div>
 
<%- include('partials/footer.ejs') %>