<%- include('partials/header.ejs') %>
<h1 class="mx-auto text-center">Blog Posts</h1>

<% if (locals.posts.length > 0) { %>
  <div class="container d-flex flex-row justify-content-around flex-wrap mx-auto card-group"></div>
  <% locals.posts.forEach(post => { %>
    <% let index = locals.posts.indexOf(post) %>
    <% console.log(post.postNum) %>
    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title"><%= post.blogTitle %></h5>
        <p class="card-text"><%= post.blogContent %></p>
        <form action="/edit-post/<%= post.postNum %>" method="get">
          <button type="submit" class="btn btn-primary">Edit Post</button>
        </form>
        <form action="/remove-post/<%= index %>" method="get">
          <button type="submit" class="btn btn-primary">Delete Post</button>
        </form>
      </div>
    </div>
  <% }) %>
  <div class="container d-flex flex-row justify-content-around flex-wrap"></div>
<% } else { %>
  <h2>No posts</h2>
<% } %>
 
<%- include('partials/footer.ejs') %>